.headerStyle{
    background-color:#1d1919;
    color : white;
    min-width: 200px;
    max-width: 200px;
    position:absolute;
    top:0px;
    bottom:0px;
    left:0px; 
    text-decoration: none ; 
    float: left;
}
.companyImgStyle{
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}