.homePageStyle{
    display: flex;
    position: relative;
    top:0px;
    bottom:0px;
    left:220px;
    padding: 20px; 
}
.buttonDiscoverStyle{
    background-color: lightblue;
    color: black;
    display: inline;
}
.displayStyle{
    float: left;
}